[submodule "zsh/.zsh/zsh-vi-mode"]
	path = zsh/.zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
[submodule "zsh/.zsh/spaceship"]
	path = zsh/.zsh/spaceship
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
